<style type="text/css">.qmbox body{font-size:15px}
.qmbox p{text-indent:2em;}</style>
<p>
    <span class="Apple-style-span" style="font-family: arial, sans-serif; border-collapse: collapse; "><strong><span class="Apple-style-span" style="font-size: 18px;">Dear {{ accountmail }}</span></strong></span>
</p>
<p>
    <span class="Apple-style-span" style="font-family: arial, sans-serif; border-collapse: collapse; "><br/></span>
</p>
<p>
    <span class="Apple-style-span" style="font-size:18px;"><span class="Apple-style-span" style="font-family: arial, sans-serif; border-collapse: collapse; "></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi! This is a password comfirm email come from Relaxstyle。<br/></span>
</p>
<p>
    <br/>
</p>
<p>
    <strong>Change your password：</strong><a href="http://127.0.0.1:8000/changepassword/{{ accountfind }}" target="_blank">click to change your password</a><br/>
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p></p>
<p>
    <span class="Apple-style-span" style="font-size:22px;">Relaxstyle Admin</span>
</p>
<p>
    <!-- -->
</p>