 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%} 
  {% block container %}
   <div id="contents" class="clear">
  <div class="main-content">
<div class="form" >
<div style="margin: 50px auto;text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';font-size:xx-large;">Change Password</div>
        <form id="cform" action="http://127.0.0.1:8000/changepassword/{{ id }}" method="post"  style="width:350px;margin:0 auto;">  
              <input type="password" name="newpassword" id="newpassword" placeholder="New password" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;" />
              <br><br>
              <input type="password" name="comfrimpassword" id="comfrimpassword" placeholder="Comfirm New Password" style="border:3px solid #171717 ; width:100%;border-radius:7px;font-size: 16px;"/>
              <br>
              <br>
              <input class="btsubmit" type="submit" name="btsend" value="Sgin In"  style="font-size: 20px; color: #EA9D76; font-family: 'OpenSansBold';"/>
              <br> <a href="#" style="text-align:right;float: right;">Sign In</a>
        </form>
  </div></div>
  <div class="sidebar">
  <div class="side-paragraph">
        <h5>About  Forgotpassword<span class="arrow">&nbsp;</span></h5>
        <div> <img src="{{ asset('bundles/relaxstyleindex/img/simage.jpg')}}" alt="" title="" />
          <p> When you Forgot your password .you can input send a comfirm email to your login email .</p>
          {% if errormiss  is defined  %}
          <p><strong style="color:red">{{result}}</strong><p>
          {% endif %}
          <p>or you can use another email address <p>
           <p><a href="{{ path('_Index_createuser') }}" style="text-align:center;font-weight:bold;color: #EA9D76; font-family: 'OpenSansBold';">Create new account ➟ </a><p>
           
        </div>
        <span class="tail">&nbsp;</span> </div>
   </div></div>
  {% endblock %}