 {%extends "RelaxstyleIndexBundle:Default:index.html.twig"%}

{% block title %}
Account Signin
{% endblock %}

{% block container %}
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default panel-primary" id='logpanel'>
   <div class="panel-heading">
      <h3 class="panel-title">
         Account Signin
      </h3>
   </div>
   <div class="panel-body">
   
          {% if loginerror is defined  %}
           <div class="alert alert-warning" id="alert">
           <a href="#" class="close" data-dismiss="alert">
           &times;
           </a>
           <strong>Warning!</strong><br>{{loginerror}}!
           </div>
          {%else%}
          {% endif %}
  
   <br><br>
     <div class="col-md-8 col-md-offset-2">
      <form class="bs-example bs-example-form" name='signinform' role="form" method="post" action="#">
      <div class="input-group input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
         <input type="text" class="form-control" name='email' id='email' placeholder="Email Address">
      </div><br>
      <div class="input-group input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
         <input type="password" class="form-control" name='password' id='password' placeholder="Password">
      </div><br>
         <button type="submit" class="btn btn-success">Sign In</button>
         <a href="{{ path('_Index_findpassword') }}" class='pull-right'><small>Forgot password?<small></a>
      <br>
   </form>
   <hr>
     <h5 class="pull-right"><a href="{{ path('_Index_createuser') }}">Not have a sign accout!</a></h5>
   </div>
   </div>
</div></div>
{% endblock %}